*{
    font-family: 'Montserrat Alternates', sans-serif;
    outline: none;
    text-decoration: none;    
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}
body{
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png);
}

.gitApp{
    width: 740px;
    background: rgba(73, 73, 73, 0.53);
    margin: 5% auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.18) inset, 0 10px 10px, 0 0 500px inset;
    height: 480px;
    position: relative;
    overflow: hidden;
}
.gitApp:after{
    content: 'Git \1F47D Search';
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 9em;
    opacity: .1;
    z-index: -1;
    color: rgba(255, 255, 255, 0.47);
    text-shadow: 0 5px 0 rgba(18, 18, 18, 0.36);
    

}